<template id="widget-template">
    <div class="widget">
        <div class="title">
            <slot name="title">NEEDS TITLE</slot>
        </div>
        <div class="content">
            <slot name="content">NEEDS Content</slot>
        </div>
    </div>
</template>
